#result {
  display: none;
  margin-top: 20px;
  font-size: 20px;
}

#robogerpic {
  display: none;
}

.jumbotron {
  background-color:#6cbeef;
  text-align: center;
}

.btn {
  margin-top: 10px;
}

#neighborhood {
  font-size: 20px;
}